<panel title="Layout Editor" brand="primary">
   <form class="form-horizontal" #f="ngForm" (ngSubmit)="save()">
   	   <div class="well well-sm">
            <submit-button label="Save" icon="fa fa-save"  brand="primary"></submit-button>
            <command-button label="Cancel" icon="fa fa-close"></command-button>
       </div>
	
    	<div-row>
    		<div-col width="3">
    			<panel title="Control Palette" [affix]="true">
					<accordion>
						<acc-panel title="Containers">
							<div class="drag-section-bag" [dragula]="'section-bag'" [dragulaModel]="[sectionElement]">
						    	<div class="drag-handle drag-src drag-static">Section</div>
						    </div>
						    <div class="drag-section-col-bag" [dragula]='"section-col-bag"' [dragulaModel]="[columnElement]">
						    	<div class="drag-handle drag-src drag-static">Section Column</div>
						    </div>
						</acc-panel>
						<acc-panel title="Fields">
							<div class="drag-component-bag" [dragula]='"component-bag"' [dragulaModel]="availableFields">
						        <div class="drag-handle drag-src" *ngFor="let field of availableFields">
						        	{{ field.label }}
						        </div>
				    		</div>
						</acc-panel>
						<acc-panel title="Static Elements">
							<div class="drag-component-bag" [dragula]='"component-bag"' [dragulaModel]="[spaceElement]">
						        <div class="drag-handle drag-src drag-static">Space</div>
				    		</div>
						</acc-panel>
					</accordion>

					
		    	</panel>
    		</div-col>
    		<div-col width="9">
    			<div #layoutSectionBag class="well section-bag drag-section-bag-c" [dragula]="'section-bag'" [dragulaModel]="layout.sections">
					<h4 *ngIf="layout.sections.length == 0">Canvas - Drag Sections here</h4>	


					<div class="section" *ngFor='let section of layout.sections; let i = index;'>
						
						<div> 
							<legend *ngIf="!section.editing">{{ section.title }} 

								<command-button label="Edit" icon="fa fa-edit" size="xs" (click)="editSectionTitle(section)" ></command-button>

								<command-button label="Delete" brand="danger" icon="fa fa-close" size="xs" (click)="removeSection(i)" ></command-button>
							</legend>
							
							<div class="input-group" *ngIf="section.editing">
						      <input type="text" class="form-control" [(ngModel)]="section.title" name="section.title">
						      <span class="input-group-btn">
						        <button class="btn btn-default" type="button" (click)="saveSectionTitle(section)"><i class="fa fa-save"></i></button>
						      </span>
						    </div>
							
						</div>
						<div [attr.data-sidx]="i" class="row drag-section-col-bag-c section-bag" [dragula]="'section-col-bag'" [dragulaModel]="section.columns"> 
							
							<strong *ngIf="section.columns.length == 0">Drag Colums here</strong>	
							<div *ngFor="let column of section.columns; let j = index;" class="drag-target col-md-{{ 12 / section.columns.length }}">
								<span class="btn btn-default btn-xs">
			    					<i class="fa fa-arrows drag-handle drag-col" aria-hidden="true"></i>
			    				</span>
			    				<command-button label="Delete" brand="danger" icon="fa fa-close" size="xs" (click)="removeColumn(i,j)" ></command-button>
								
								<div class="drag-target drag-component-bag-c" [dragula]="'component-bag'" [dragulaModel]="column.components">
									<strong *ngIf="column.components.length==0">Drag Components Here</strong>
									<div *ngFor="let component of column.components; let k = index;" class="drag-handle drag-target">
										<span class="btn btn-default btn-xs">
					    					<i class="fa fa-arrows drag-handle drag-comp" aria-hidden="true"></i>
					    				</span>
					    				<command-button label="Delete" brand="danger" icon="fa fa-close" size="xs" (click)="removeComponent(i,j,k)" ></command-button>
										<strong>{{ component.label ? component.label : "--" }}</strong>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
    		</div-col>
    	</div-row>
    
		
    
    	<div class="well well-sm">
            <submit-button label="Save" icon="fa fa-save"  brand="primary"></submit-button>
            <command-button label="Cancel" icon="fa fa-close"></command-button>
       </div>
	</form>
</panel>